@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.layoutPadding{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

@media (max-width: 1024px) { /* lg breakpoint */
  .layoutPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (max-width:647px){
  .layoutPadding{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

